body {
    background-color: #e6ecf0;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

:root {
    --red: #dd001b;
    --pink: #fb7299;
}

.body {
    width: 100%;
    min-height: 1000px;
    background-color: #e6ecf0;
}